<table class="table" align="center" border="1" cellspacing="10" cellpadding="10">
    <thead class="thead">
        <tr>
            <th>ROLL NO</th>
            <th>NAME</th>
            <th>PLACE</th>
            <th>CONTACT</th>
            <th>EMAIL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Manoj Kumar</td>
            <td>Calicut</td>
            <td>1478523699</td>
            <td>manoj@gmail.com</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Manoj Kumar</td>
            <td>Calicut</td>
            <td>1478523699</td>
            <td>manoj@gmail.com</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Manoj Kumar</td>
            <td>Calicut</td>
            <td>1478523699</td>
            <td>manoj@gmail.com</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Manoj Kumar</td>
            <td>Calicut</td>
            <td>1478523699</td>
            <td>manoj@gmail.com</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Manoj Kumar</td>
            <td>Calicut</td>
            <td>1478523699</td>
            <td>manoj@gmail.com</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Manoj Kumar</td>
            <td>Calicut</td>
            <td>1478523699</td>
            <td>manoj@gmail.com</td>
        </tr>

    </tbody>

</table>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis id architecto quaerat voluptas a rerum incidunt earum quasi voluptates unde, magni dolore numquam porro minima delectus deleniti nihil ea distinctio.</p>